In [3]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [4]:
df = pd.read_csv('train.csv')

In [5]:
df.head()

,msno,song_id,source_system_tab,source_screen_name,source_type,target
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,my library,Local playlist more,local-playlist,1
3,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,my library,Local playlist more,local-playlist,1
4,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,explore,Explore,online-playlist,1

In [6]:
user_id_mapping = {msno: i+1 for i, msno in enumerate(df['msno'].unique())}
df['user_id_numerical'] = df['msno'].map(user_id_mapping)

In [7]:
song_id_mapping = {songid: i+1 for i, songid in enumerate(df['song_id'].unique())}
df['song_id_numerical'] = df['song_id'].map(song_id_mapping)

In [8]:
df.shape

(7377418, 8)

In [9]:
df['user_id_numerical'].unique().shape

(30755,)

In [10]:
df['song_id'].unique().shape

(359966,)

In [11]:
min_reviews_threshold = df.groupby('song_id').size().mean() + 15
user_review_counts = df.groupby('song_id').size()
valid_work = list(set(user_review_counts[user_review_counts >= min_reviews_threshold].index))

In [12]:
len(valid_work)

23323

In [13]:
filtered_df = df[df.song_id.isin(valid_work)]

In [14]:
filtered_df['user_id_numerical'].unique().shape

(30483,)

In [21]:
result_df = pd.pivot_table(filtered_df, values='target', index='user_id_numerical', columns='song_id_numerical', aggfunc='mean')

In [22]:
result_df.head()

song_id_numerical,1,5,6,7,8,10,12,13,14,15,...,349916,349926,349927,350073,350166,350681,350754,350819,351058,351922
user_id_numerical,,,,,,,,,,,,,,,,,,,,,
1,1.0,1.0,1.0,NaN,1.0,0.0,NaN,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
result_df.shape

(30483, 23323)

In [24]:
result_df.fillna(0, inplace=True)

In [25]:
result_df.head()

song_id_numerical,1,5,6,7,8,10,12,13,14,15,...,349916,349926,349927,350073,350166,350681,350754,350819,351058,351922
user_id_numerical,,,,,,,,,,,,,,,,,,,,,
1,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
result_df[1]

user_id_numerical
1        1.0
2        0.0
3        0.0
4        0.0
5        0.0
        ...
30751    0.0
30752    0.0
30753    0.0
30754    0.0
30755    0.0
Name: 1, Length: 30483, dtype: float64

In [65]:
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

def recommend_songs_for_user(user, result_df, top_n=5):
    user_consumption = result_df.loc[user]
    
    consumed_indices = user_consumption[user_consumption != 0].index
    
    consumed_values = result_df[consumed_indices].values
    non_consumed_indices = user_consumption[user_consumption == 0].index
    
    non_consumed_values = result_df[non_consumed_indices].values

    similarity_scores = cosine_similarity(consumed_values.T, non_consumed_values.T)

    avg_similarity_scores = np.mean(similarity_scores, axis=0)

    sorted_indices = np.argsort(avg_similarity_scores)[::-1]
    
    recommended_song_indices = np.array(non_consumed_indices)[sorted_indices[:top_n]]
    
    return recommended_song_indices


user_id_here = 9
recommended_song_indices = recommend_songs_for_user(user_id_here, result_df)
print(recommended_song_indices)

[1130   45  629  973 1280]

In [ ]:
# song_deatils = pd.read_csv('')